{% extends "base.html" %}

{% block content %}
<section class="documents">
	<article class="document">
		<div>
			<h1>{{ document }}</h1>
			<ul>
				<li><b>feed:</b> <a href="{% url 'feed' document.feed.slug %}">{{ document.feed }}</a></li>
				<li><b>url:</b> <a href="{{ document.url }}" target="_blank">{{ document.url }}</a></li>
				<li><b>state:</b> {{ document.state }}</li>
				<li><b>meta:</b> {{ document.meta }}</li>
				<li><b>content:</b> {% autoescape off %}{{ document.content }}{% endautoescape %}</li>
				<li><b>text:</b> {{ document.text }}</li>
			</ul>
		</div>
	</article>
</section>
{% endblock %}