{% extends "base.html" %}

{% block content %}
<section class="feeds">
	<table>
		{% if feeds %}
			<tr>
				<th>feed</th>
				<th>number of documents</th>
				<th>last updated</th>
			</tr>
			{% for feed in feeds %}
				<tr class="{% cycle 'row1' 'row2' %}">
					<td><a href="{% url 'feed' feed.slug %}">{{ feed }}</a></td>
					<td style="text-align: center;">{{ feed.document_set.count }}</td>
					<td>{{ feed.updated_at|date:'l, jS F Y H:i:s'|lower }}</td>
				</tr>
			{% endfor %}
		{% else %}
			<tr><th>no feeds available</th></tr>
		{% endif %}
	</table>
</section>
{% endblock %}